<a href="https://colab.research.google.com/github/Prav2507/MySQL_Tamil/blob/master/Knearestneigbors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
sugar=pd.read_csv('/content/sample_data/diabetes (1).csv')

In [3]:
sugar.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
sugar.shape

(768, 9)

In [6]:
X=sugar.drop(columns='Outcome')

In [7]:
Y=sugar.Outcome

In [8]:
Y[0:5]

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [10]:

from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2, random_state=1, stratify=Y )

In [16]:
#Building and training the model
from sklearn.neighbors import KNeighborsClassifier

In [14]:
#create KNN classifier
knn=KNeighborsClassifier(n_neighbors=3)

In [15]:
#Fit the Classifier to the data
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

In [23]:
#Testing the model
#show first 5 model predictions on the test data
knn.predict(X_test) [0:5]

array([0, 0, 0, 0, 0])

In [27]:
knn.score(X_test, Y_test)

0.8051948051948052